body {
  background-color: $bg-color;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  font-family: 'Karla', sans-serif;
  font-weight: 100;
  overflow-y: hidden;
}

h1 {
  color: #ffffff;
  font-family: "plexifont";
  font-weight: 100;
  text-align: center;
  letter-spacing: 20px;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 15px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

#wrapper {
  margin-bottom: $footer-height;
}

