body {
  background-color: #008040;
  font-size: 18px;
  line-height: 26px;
}

h1 {
  color: #ffffff;
  font-family: "plexifont";
  font-weight: 100;
  text-align: center;
  letter-spacing: 20px;
  margin: 0;
}