#wrapper {
  width: 960px;
  margin: 0 auto;
}

.sign_in_button {
  width: 240px;
  height: 80px;
  background-color: #ff0000;
  cursor: pointer;
  margin-top: 30px;
  background: url('twitter_trans.png') no-repeat left center;
  background-position: 10px;
  background-color: $twitter-bg-color;
  border: 3px solid darken($twitter-bg-color, 3%);
  :hover {
    background: url('twitter_trans.png') no-repeat left center;
    background-position: 10px;
    background-color: darken($twitter-bg-color, 2%);
  }
}

.twitter_button_text {
  line-height: 80px;
  font-size: 17px;
  letter-spacing: 0px;
  padding-left: 50px;
  color: #ffffff;
}

.twitter_button_link {
  width: 240px;
  height: 80px;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  font-size: 15px;
  a {
    text-decoration: none;
  }
  :link, :visited {
    color: inherit;
  }
  :hover {
    color: #ffffff;
  }
}

/* logged in */

.logged_in_section {
  padding: 10px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  border: 1px solid black;
  height: 350px;
}

.profile_card {
  display: inline-block;
  width: 250px;
  height: 340px;
  padding: 5px;
  float: left;
  background-color: rgba(255,255,255,0.8);
  color: #000000;
  border: 6px solid rgba(255,255,255,0.5);
}

.instruction_card {
  position: relative;
  bottom: 0;
  width: 300px;
  height: 20px;
  display: inline-block;
  float: left;
}

.profile_img {
  position: relative;
  top: 11px;
  float: left;
  margin-left: 10px;
}

.profile_text {
  line-height: 70px;
}

.profile_sign_out {
  text-decoration: none;
  color: $sign-out-color;
}

.recent_tweets {
  color: #000000;
  margin-left: 290px;
}


.recent_tweets_header {
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 5px;
}

.recent_tweets_feed{
  overflow-y: hidden;
  height: 294px;
}

.tweet_container{
  margin-top:0px
}

.tweet_card {
  background-color: rgba(255,255,255,0.95);
  margin-bottom: 5px;
  height: 93px;
  cursor: pointer;
  overflow: hidden;
}

.tweet_card_img {
  float: left;
  margin-top: 29px;
  margin-left: 3px;
  border: 2px solid $grey-color;
  z-index: 5;
}

.tweet_card_text {
  padding-left: 70px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  margin-top: 5px;
}

.tweet_card_header {
  background-color: rgba(0,0,0,0.1);
  font-size: 16px;
}

.blue_twitter_link {
  position: absolute;
  z-index: 10;
  top: 27px;
  left: 3px;
  float: left;
  visibility: hidden;
}

.twitter_card_img_section {
  position: relative;
}

.paginate_button {
  background-color: rgba(255,255,255,0.8);
  color: #000000;
  padding: 5px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  :link, :visited {
    color: #000000;
  }
  :hover {
    color: #000000;
    background-color: #000000;
  }
}

.paginate_button:hover {
  background-color: $dark-grey-color;
  opacity: 0.8;
  color: #ffffff;
}

.paginates {
  position: relative;
}

.prev {
  position: absolute;
  left: 530px;
  display: none;
}

.next {
  position: absolute;
  right: 270px;
}


/* context area */

.biginput {
  float: left;
  width: 895px;
  height: 40px;
  font-size: 28px;
  border: 5px solid rgba(255,255,255,0.5);
  padding-left: 5px;
  margin-bottom: 20px;
  outline: none;
  background: asset-url('twitter_trans.png') no-repeat left center;
  background-color: #ffffff;
  padding-left: 55px;
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.submit_button {
  width: 960px;
  height: 50px;
  background-color: rgba(255,255,255,0.5);
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  display: none;
}

input.submit_button:hover {
  background-color: rgba(255,255,255,0.6);
}

input.submit_button:focus {
  outline: none;
}

/* after input */
.orig {
  background-color: rgba(255,255,255,0.5);
  margin: 0 -4000px;
  color: $dark-grey-color;
  padding: 10px 0;
  h3 {
    color: rgba(0,0,0,0.7);
  }
  p {
    margin: 0 100px;
  }
}

.answercard {
  position: relative;
  background-color: rgba(255,255,255,0.8);
  margin: 20px 0;
  color: $dark-grey-color;
  cursor: pointer;
  min-height: 92px;
  .answer_img_section {
    position: absolute;
    left: 5px;
    top: 5px;
  }
  .answer_title_section {
    color: $grey-color;
    background-color: rgba(0,0,0,0.1);
  }
  .answer_text_section {
    margin-left: 60px;
    padding: 8px;
  }
}

.answercard.center {
  width: 100%;
  clear: right;
}
.answercard.right {
  width: 450px;
  float: right;
  clear: right;
}
.answercard.left {
  width: 450px;
  float: left;
  margin-right: 40px;
}

.reply {
  display: block;
  width: 100%;
  clear: both;
}

.notweets {
  padding: 20px 0;
  background-color: rgba(0,0,0,0.4);
  margin: 25px 0;
  cursor: pointer;
}

#not_logged_in {
  margin: auto;   
  position: absolute;   
  top: 0; left: 0; bottom: 0; right: 0;
  width: 700px;
  height: 50%;
}


/* other */

.intro_text {
  margin-top: 15px;
}

.footerright {
  float: right;
  display: inline;
  margin-right: 30px;
  color: rgba(255,255,255,0.4);
}

.api_limit {
  background-color: rgba(255,255,255,0.9);
  padding: 10px 0;
}






