.reply{style: "display: none;"}

  .orig
    %h3
      = @data[0]['user']['name']
    %p
      = @data[0]['text']

  .answercards
    %p.highlight.notweets No relevant tweets found, please try another URL
      
#results

:javascript
  bind_events();