.reply{style: "display: none;"}

  .orig
    %h3
      = @data[0]['user']['name']
    %p
      = @data[0]['text']

  .answercards
    %p.highlight.notweets No related tweets found, click here to try another
      
#results

:javascript
  $(document).ready(function(){
    $('.reply').fadeIn();
    $('.notweets').mouseenter(function () {
     $(this).css('background-color', 'rgba(0,0,0,0.5)');
    });
    $('.notweets').mouseleave(function () {
     $(this).css('background-color', 'rgba(0,0,0,0.4)');
    });

    $('.notweets').on('click', function () {
     location.reload();
    });
  });




  