%h1 Context

%p.intro_text.center Find contextually related tweets in your network by inputting a link.

.center
  - if current_user 
    .center
      = form_for @tweet do |t|
        = t.text_field :url, class: "biginput show_twitter_icon"
      Welcome, 
      =current_user.name
      =link_to "Sign Out", signout_path

  - else
    %a.twitter_button_link{href: "/auth/twitter"}
      .sign_in_button.center
        .twitter_button_text Sign in with Twitter







