%h1 Context

%p.intro_text.center Context allows you to find related tweets by inputting a link.

.center
  - if current_user 
    .center
      = form_for @tweet do |t|
        = t.text_field :url, class: "biginput"
      Welcome, 
      =current_user.name
      =link_to "Sign Out", signout_path

  - else
    .center
      .sign_in_with_twitter.dark
        %a{href: "/auth/twitter"}
          .divider
          .container
            .icon
            Sign in with Twitter




